:root {
	--body: #1B1E2B;

	--section: #292D3E;
	--shadow: #1B1E2B;
	--text: #72799D;

	--inputs: #1B1E2B7A;
	--placeholder: #72799D50;
	--progress: #72799D7A;

	--toggle: #F9F9F9;
	--toggle-checked: #505050;
}

body {
	background: var(--body);
}

.section {
	background: var(--section);
	box-shadow: 0 0 13px 0 var(--shadow);
	color: var(--text)
}

.tags {
	border: 1px solid var(--text);
}

input, textarea {
	background: var(--inputs);
	border: none;
	color: inherit;
}

::placeholder {
	color: var(--placeholder)
}

.progress-bar {
	background: var(--progress);
}

.toggle label {
	background: var(--toggle);
}

.toggle label:after {
	background: var(--toggle-checked);
}